<!doctype html>
<html>
  <head>
    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Style -->
    <link href="/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

    <!-- App -->
    <script src="app.js"></script>
 
  </head>

  <title>Dutoly</title>
  
  <body ng-app="myApp" ng-controller="MainController">
    <input data-ng-model="ticker" type="text"></input>
    <input data-ng-model="year" type="text"></input>
    <button class="btn btn-md" data-ng-click="getFinancials()">Get 10K</button>
    {{data}}
  </body>

</html>

